layout {
  cwd "."

  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="status-bar"
    }
  }

  tab name="s3browser" split_direction="vertical" {
    pane name="caddy" command="uv" {
      args "run" "local-dev-proxy" "run" "caddy"
    }
    pane name="minio" command="uv" {
      args "run" "local-dev-proxy" "run" "minio"
    }
    pane name="s3browser" command="uv" focus=true {
      args "run" "local-dev-proxy" "run" "s3browser"
    }
  }
}
